/media
/static
/staticfiles
info.txt
__pycache__/
.env*
.log
*pyc
temp.*
*temp

/venv

.vscode/

/json_data/

# Ignore proposals
openspec/changes/*

# Do not ignore archived proposals
!openspec/changes/archive/

# skip docs
docs/

# ignore by default all hiden folders (like agents folders)
.*/
